@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
  background: #fff;
}
.m-secure {
  height: 100%;
  width: 100%;
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex-direction: column;
  /* Chrome 21+ */
  -ms-flex-direction: column;
  /* WP IE 10 */
  -moz-flex-direction: column;
  /* FF */
  flex-direction: column;
  /* android 4.4 */
  overflow: hidden;
  background-color: #2b2938;
}
.m-secure .messHeader {
  width: 100%;
  height: 0.44rem;
  background-color: #24222f;
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
}
.m-secure .messHeader > span {
  width: 0.44rem;
  height: 0.44rem;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.18rem;
}
.m-secure .messHeader > span:last-child {
  font-size: 0.13rem;
}
.m-secure .messHeader > h2 {
  webkit-box-flex: 1;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 1;
  /* Chrome 21+ */
  -ms-flex: 1;
  /* WP IE 10 */
  -moz-box-flex: 1;
  /* FF */
  flex: 1;
  /* android 4.4 */
  height: 0.44rem;
  text-align: center;
  line-height: 0.44rem;
  color: #868686;
  font-size: 0.16rem;
  font-weight: 100;
}
.m-secure .logo {
  width: 77px;
  height: 131px;
  position: relative;
  margin: 0 auto;
}
.m-secure .logo img {
  display: block;
  width: 77px;
  height: 77px;
  position: absolute;
  top: 30%;
}
.m-secure .introduce {
  width: 90%;
  margin: 0 auto;
}
.m-secure .introduce h3 {
  font-size: 15px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.m-secure .introduce p {
  font-size: 13px;
  color: #fff;
  line-height: 22px;
  text-indent: 20px;
  text-align: justify;
}
