@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
  background: #fff;
}
body {
  height: 100%;
  width: 100%;
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex-direction: column;
  /* Chrome 21+ */
  -ms-flex-direction: column;
  /* WP IE 10 */
  -moz-flex-direction: column;
  /* FF */
  flex-direction: column;
  /* android 4.4 */
  overflow: hidden;
  background-color: #2b2938;
}
body .testHeader {
  width: 100%;
  height: 0.44rem;
  background-color: #14141b;
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
}
body .testHeader > span {
  width: 0.44rem;
  height: 0.44rem;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.2rem;
}
body .testHeader > h2 {
  webkit-box-flex: 1;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 1;
  /* Chrome 21+ */
  -ms-flex: 1;
  /* WP IE 10 */
  -moz-box-flex: 1;
  /* FF */
  flex: 1;
  /* android 4.4 */
  height: 0.44rem;
  text-align: center;
  line-height: 0.44rem;
  color: #868686;
  font-size: 0.16rem;
  font-weight: 100;
}
body .rowsText {
  width: 100%;
  height: 1rem;
  background-color: #3a3846;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1rem 0.2rem;
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: box;
  display: flexbox;
  display: flex;
  flex-flow: column;
}
body .rowsText > h4 {
  width: 100%;
  font-size: .12rem;
  line-height: .24rem;
  color: #ec1c60;
  font-weight: normal;
}
body .rowsText > .label-content {
  width: 100%;
  font-size: .16rem;
  line-height: .14rem;
  color: #fff;
  border: none;
  outline: none;
  resize: none;
  background-color: #3a3846;
}
body .rowsText > i {
  display: none;
  margin-right: .1rem;
  font-size: .16rem;
  color: #fff;
  text-align: right;
}
body .rowsText > .label-num {
  font-size: .12rem;
  color: #fff;
  text-align: right;
}
body button.btn-confirm {
  display: block;
  margin: .2rem auto;
  width: 87%;
  height: 0.44rem;
  border-radius: 10px;
  background: #605f6a;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
}
