html,
body {
  background-color: #2b2938;
}
header #icon-plus {
  float: right;
  color: #fff;
}
.mui-bar {
  background-color: #14141b;
  z-index: auto;
}
.mui-title {
  color: #fff;
}
.mui-icon-back:before,
.mui-icon-left-nav:before {
  color: #fff;
}
#sliderSegmentedControl .mui-scroll {
  width: 100%;
  background: #24222f;
}
#sliderSegmentedControl .mui-scroll a {
  width: 50%;
  color: #fff;
  padding: 0;
}
#sliderSegmentedControl .mui-scroll .mui-active {
  color: #cb2177;
  border-bottom: solid 0.01rem #cb2177;
}
.mui-slider-item {
  border-top: none !important;
}
.mui-slider-item .mui-table-view {
  background-color: #2b2938;
  color: #fff;
}
.mui-slider-item .mui-table-view .backImg {
  width: 100%;
  height: 28.8rem;
  background: url("../images/sweet.jpg") no-repeat center;
  position: relative;
}
.mui-slider-item .mui-table-view .backImg > span {
  display: block;
  width: 100%;
  height: 3.2rem;
  text-align: center;
  font-size: 0.14rem;
  color: #504f5b;
  line-height: 0.2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.8rem;
}
.mui-bar ~ .mui-content .mui-fullscreen {
  top: 44px;
  height: auto;
}
.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
}
.mui-bar ~ .mui-pull-top-tips {
  top: 24px;
}
.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
  margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px;
}
.mui-pull-bottom-tips {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}
.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.mui-pull-top-canvas canvas {
  width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
  background-color: #efeff4;
  height: 40px;
}
.mui-table-view-cell:after {
  left: 0;
}
